<ng-template #currencyFromHtml>
    <ion-row>
      <ion-col col-8>
        <ion-item>
          <ion-input #currencyFromInput [(ngModel)]="currencyFromAmount" (ionChange)="refreshConversionCoin()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
            <ion-select [(ngModel)]="currencyFrom"  (ionChange)="refreshConversion()">
              <ion-option *ngFor="let c of coins; let i = index" [selected]="i==0" [value]="c">{{c.title}}</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-template>

<ng-template  #currencyToHtml>
    <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-input #currencyToInput [(ngModel)]="currencyToAmount"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
        <ion-item>
            <ion-select [(ngModel)]="currencyTo" (ionChange)="refreshConversion()">
              <ion-option *ngFor="let cur of currency; let i = index" [selected]="i==0" [value]="cur">{{cur.title}}</ion-option>
            </ion-select>
        </ion-item>
      </ion-col>
      </ion-row>
    </ng-template >

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Calculator</h3>

  <p>
    Select your coin type
  </p>

  

  <ion-list>
    <div>
        <ng-container [ngTemplateOutlet]="topTemplate"></ng-container>
    </div>
    <ion-row>
            <button ion-button (click)="switchToAndFromCurrency()">Switch</button>
      </ion-row>
    <div>
        <ng-container [ngTemplateOutlet]="bottomTemplate"></ng-container>
    </div>
  </ion-list>
</ion-content>
