<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Calculator</h3>

  <p>
    Select your coin type
  </p>

  <ion-list>
    <ion-row>
      <ion-item>
        <ion-input [(ngModel)]="currencyFromAmount" (ionChange)="refreshConversion()"></ion-input>
      </ion-item>
      <ion-item>
          <ion-select [(ngModel)]="currencyFrom"  (ionChange)="refreshConversion()">
            <ion-option *ngFor="let c of coins; let i = index" [selected]="i==0" [value]="c">{{c.title}}</ion-option>
          </ion-select>
      </ion-item>
    </ion-row>
    <ion-item>
    </ion-item>
    <ion-row>
        <ion-item>
          <ion-input [(ngModel)]="currencyToAmount"  (ionChange)="refreshConversion()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-select [(ngModel)]="currencyTo" (ionChange)="refreshConversion()">
              <ion-option *ngFor="let cur of currency; let i = index" [selected]="i==0" [value]="cur">{{cur.title}}</ion-option>
            </ion-select>
        </ion-item>
      </ion-row>
  
  </ion-list>
</ion-content>
